# Database (в Docker Compose автоматически подставляется через docker-compose.yml)
DATABASE_URL="postgresql://delovoy:delovoy_secret@localhost:5432/delovoy_park"
POSTGRES_PASSWORD="delovoy_secret"

# Redis
REDIS_URL="redis://localhost:6379"

# NextAuth (ОБЯЗАТЕЛЬНО сгенерируйте уникальные ключи для production!)
# openssl rand -base64 32
NEXTAUTH_SECRET="generate-a-secure-secret-here"
# Для локальной разработки:
NEXTAUTH_URL="http://localhost:3000"
# Для production (Timeweb VPS):
# NEXTAUTH_URL="http://5.129.255.244"
# IPv6: http://[2a03:6f00:a::1:3e2b]
AUTH_SECRET="generate-a-secure-secret-here"

# Telegram Bot
TELEGRAM_BOT_TOKEN="your-bot-token"
TELEGRAM_ADMIN_CHAT_ID="your-admin-group-id"

# App
# Для локальной разработки:
NEXT_PUBLIC_APP_URL="http://localhost:3000"
# Для production (Timeweb VPS):
# NEXT_PUBLIC_APP_URL="http://5.129.255.244"
NODE_ENV="development"

# Timeweb Cloud API
# Получить токен: https://timeweb.cloud/my/api-keys
TIMEWEB_API_TOKEN="your-timeweb-api-token"
TIMEWEB_SERVER_ID="7215757"
